* {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.pupInfo {
  width: 50%;
  margin: auto;
  text-align: center;
  border-style: solid;
  border-radius: 20px;
  background-color: rgb(231, 224, 224);
}

ul {
  list-style: none;
  background-color: rgb(231, 224, 224);
}
.feat {
  background-color: rgb(231, 224, 224);
}

img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
